<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Discover the best car dealership in Nairobi for new and used cars, including Toyota models. Explore second-hand autos, affordable vehicles, and installment options. Find cheap cars for sale near you, top deals, and reliable car dealerships in Kenya. Your trusted source for buying cars with monthly payments or finding used cars for sale near me." />
    <meta name="title" content="Car Dealership Nairobi | New and Used Cars for Sale">
    <meta name="description" content="Explore the best car dealership in Nairobi for new and used cars. Find Toyota models, second-hand autos, and installment plans. Your go-to car dealership in Kenya." />
    <title>Restaurants</title>
    <link defer href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://res.cloudinary.com"/>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
    <style>
        img {
            aspect-ratio: auto 640 / 360;
        }
        .card-img-top {
          width: 100%;
          height: auto;
          object-fit: cover;
          border-radius: 8px 8px 0 0;
        }
      </style> 
      <script defer>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:5297368,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
      </script>     
</head>
<body class="bg-body-light">
    <%- include('../partials/user-header') %>

    <div class="container mt-5 pt-5">
    <div class="mt-4 d-flex flex-row gap-3 align-items-center" style="overflow-x: scroll; scroll-behavior: smooth; scrollbar-width: none;">
        <select class="fs-5 border border-1 py-1 px-3 rounded-pill bg-body-light text-center align-items-center" id="cuisine" aria-label="Select cuisine">
            <Option class="fs-5 text-start rounded-4" value="">Cuisine</Option>
            <Option class="text-start fs-5 btn btn-dark rounded-4" value="clear">Clear</Option>
            <Option class="text-start fs-5 filter" value="African">African</Option>
            <Option class="text-start fs-5 filter" value="American">American</Option>
            <Option class="text-start fs-5 filter" value="Caribbean">Caribbean</Option>
            <Option class="text-start fs-5 filter" value="Chinese">Chinese</Option>
            <Option class="text-start fs-5 filter" value="French">French</Option>
            <Option class="text-start fs-5 filter" value="Fusion">Fusion</Option>
            <Option class="text-start fs-5 filter" value="Indian">Indian</Option>
            <Option class="text-start fs-5 filter" value="Italian">Italian</Option>
            <Option class="text-start fs-5 filter" value="Japanese">Japanese</Option>
            <Option class="text-start fs-5 filter" value="Korean">Korean</Option>
            <Option class="text-start fs-5 filter" value="Mediterranean">Mediterranean</Option>
            <Option class="text-start fs-5 filter" value="Mexican">Mexican</Option>
            <Option class="text-start fs-5 filter filter" value="Middle Eastern">Middle Eastern</Option>
            <Option class="text-start fs-5 filter" value="Seafood">Seafood</Option>
            <Option class="text-start fs-5 filter" value="Thai">Thai</Option>
            <Option class="text-start fs-5 filter" value="Vegetarian/Vegan">Vegetarian/Vegan</Option>

        </select>        
        <select class="fs-5 border border-1 py-1 px-3 rounded-pill bg-body-light text-center align-items-center" id="category">
            <Option class="text-start fs-5" value="">Category</Option>
            <Option class="text-start fs-5 btn btn-dark rounded-4" value="clear">Clear</Option>
            <Option class="text-start fs-5 filter" value="Bakery">Bakery</Option>
            <Option class="text-start fs-5 filter" value="Barbecue">Barbecue</Option>
            <Option class="text-start fs-5 filter" value="Buffet">Buffet</Option>
            <Option class="text-start fs-5 filter" value="Café">Café</Option>
            <Option class="text-start fs-5 filter" value="Casual Dining">Casual Dining</Option>
            <Option class="text-start fs-5 filter" value="Dessert Spot">Dessert Spot</Option>
            <Option class="text-start fs-5 filter" value="Diner">Diner</Option>
            <Option class="text-start fs-5 filter" value="Fast Food">Fast Food</Option>
            <Option class="text-start fs-5 filter" value="Fine Dining">Fine Dining</Option>
            <Option class="text-start fs-5 filter" value="Food Truck">Food Truck</Option>
            <Option class="text-start fs-5 filter" value="Sushi Bar">Sushi Bar</Option>
            <Option class="text-start fs-5 filter" value="Steakhouse">Steakhouse</Option>
            <Option class="text-start fs-5 filter" value="Vegan/Vegetarian">Vegan/Vegetarian</Option>


        </select>
        <select class="fs-5 border border-1 py-1 px-3 rounded-pill bg-body-light text-center align-items-center" id="vibe" aria-label="Select vibe">
            <Option class="fs-5 text-start rounded-4" value="">Vibe</Option>
            <Option class="text-start fs-5 btn btn-dark rounded-4" value="clear">Clear</Option>
            <Option class="text-start fs-5 filter" value="Cozy">Cozy</Option>
            <Option class="text-start fs-5 filter" value="Romantic">Romantic</Option>
            <Option class="text-start fs-5 filter" value="Casual">Casual</Option>
            <Option class="text-start fs-5 filter" value="Quiet">Quiet</Option>
            <Option class="text-start fs-5 filter" value="Outdoor">Outdoor</Option>
            <Option class="text-start fs-5 filter" value="Festive">Festive</Option>
            <Option class="text-start fs-5 filter" value="Sporty/pub-like">Sporty/pub-like</Option>
            <Option class="text-start fs-5 filter" value="Family-friendly">Family-friendly</Option>
            <Option class="text-start fs-5 filter" value="Business-friendly">Business-friendly</Option>
        </select>
        <select class="fs-5 border border-1 py-1 px-3 rounded-pill bg-body-light text-center align-items-center" id="amenities" aria-label="Amenities">
            <Option class="fs-5 text-start rounded-4" value="">Amenities</Option>
            <Option class="text-start fs-5 btn btn-dark rounded-4" value="clear">Clear</Option>
            <Option class="text-start fs-5 filter" value="Free Wi-Fi">Free Wi-Fi</Option>
            <Option class="text-start fs-5 filter" value="Parking">Parking</Option>
            <Option class="text-start fs-5 filter" value="Takeaway">Takeaway</Option>
            <Option class="text-start fs-5 filter" value="Outdoor seating">Outdoor seating</Option>
            <Option class="text-start fs-5 filter" value="Card & mobile">Card & mobile</Option>
            <Option class="text-start fs-5 filter" value="Live entertainment">Live entertainment</Option>
        </select>
            <input type="text" class="d-none d-lg-block border border-1 rounded-pill d-flex ps-3 py-2 ms-2 col-lg-2 col-8" placeholder="Search by location" id="search" style="font-size: 20px;">            
    </div>
    <div class="row mt-2 d-lg-none">
        <input type="text" class="border border-1 rounded-pill ps-3 py-2 fs-5 ms-2 col-lg-3 col-8" placeholder="Search by location" id="search">            
    </div>
    <div class="container my-3">
        <div class="fs-4 h5 counter"><%= rows.length %> <%= rows.length === 1 ? 'Restaurant' : 'Restaurants' %> saved</div>
    </div>
    <div class="row" id="restaurants">
        <% rows.forEach(row => { %>
            <a href="/user/saved/<%= row.id %>" class="col-lg-3 col-md-6 col-12 mb-3 restaurant" style="text-decoration: none;"
                data-cuisine="<%= row.cuisine %>"
                data-category="<%= row.category %>"
                data-vibe="<%= row.vibe %>"
                data-amenities="<%= row.amenities %>">
          <div class="card w-100 rounded-4">
              <!-- <link rel="preload" href="#" as="image"> -->
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfNjCf0E0w1f_faSBhmSnS4XX2RVfBDp5_8Q&s" class="card-img-top bg-danger-subtle" alt=""
              loading="lazy">
              <div class="card-body">
                <h5 class="card-title"><%= row.name %></h5>                     
              </div>
            </div>
        </a>
       <% }) %> 
    <%- include('../partials/footer') %>    
</body>
    <script>
        const filterOptions = document.querySelectorAll('.filter')
        const filters = Array.from(filterOptions)
        document.addEventListener("DOMContentLoaded", () => {
            const restaurantList = document.getElementById('restaurants')
            const counter = document.querySelector('.counter')
            const cuisineFilter = document.getElementById('cuisine')
            const categoryFilter = document.getElementById('category')
            const vibeFilter = document.getElementById('vibe')
            const amenitiesFilter = document.getElementById('amenities')
            const searchBar = document.getElementById('search')
            
            let count = 0
            const restaurants = Array.from(restaurantList.getElementsByClassName('restaurant'))
            
            async function filterData(type, filter) {
                const Data = {
                    type : type,
                    filter : filter,
                    date : new Date()
                }
                const options = {
                    method : 'POST',
                    headers : {
                        'Content-type' : 'application/json'
                    },
                    body : JSON.stringify(Data)
                }
                try {
                    const response = await fetch('/user/filters', options)
                    const data = await response.json()
                    console.log(data)
                } catch (error) {
                    console.log('Failed to send that shiiii', error)
                }
            }
            
            function filter() {
                const cuisine = cuisineFilter.value.toLowerCase()
                const category = categoryFilter.value.toLowerCase()
                const vibe = vibeFilter.value.toLowerCase()
                const amenities = amenitiesFilter.value.toLowerCase()
                const search = searchBar.value.toLowerCase()
                restaurants.forEach(restaurant => {
                    const matchCuisine = cuisine ? restaurant.dataset.cuisine.toLowerCase().includes(cuisine) : true
                    const matchCategory = category ? restaurant.dataset.category.toLowerCase().includes(category) : true
                    const matchVibe = vibe ? restaurant.dataset.vibe.toLowerCase().includes(vibe) : true
                    const matchAmenities = amenities ? restaurant.dataset.amenities.toLowerCase().includes(amenities) : true
                    const matchSearch = search ? restaurant.textContent.toLowerCase().includes(search) : true
                    const matchAll = matchCuisine && matchCategory && matchVibe && matchAmenities && matchSearch

                    restaurant.style.display = matchAll ? 'block' : 'none';
                    if (matchAll) count++
                })
                if (count === 1) {
                    counter.textContent = `${count} restaurant saved`
                } else {
                    counter.textContent = `${count} restaurants saved`
                }   
                count = 0

                
                if (cuisine) filterData('cuisine', cuisine)
                if (category) filterData('category', category)
                if (vibe) filterData('vibe', vibe)
                if (amenities) filterData('amenities', amenities)
            }
            function debounce(fn, delay) {
                let timeout;
                return function (...args) {
                    clearTimeout(timeout);
                    timeout = setTimeout(() => fn(...args), delay);
                };
            }          

            function clear(f) {
                if (f.value === "clear") {
                    f.value = ""
                    filter()
                } else {
                    filter()
                }
            }
            
            cuisineFilter.addEventListener("change", () => {clear(cuisineFilter)})
            categoryFilter.addEventListener("change", () => {clear(categoryFilter)})
            vibeFilter.addEventListener("change", () => {clear(vibeFilter)})
            amenitiesFilter.addEventListener("change", () => {clear(amenitiesFilter)})
            searchBar.addEventListener("input", debounce(filter, 50));
        }) 
    </script>
</html>
